@import url("chrome://global/skin/");

/* Global */
a {
  color: #000080;
  cursor: pointer;
  text-decoration: underline;
}
vbox > label {
  margin-top: 8px;
}
vbox > label + label {
  margin-top: 12px;
  margin-right: 2px;
}
description,
menulist {
  font-size: 90%;
}
menuitem {
  font-size: 90%;
  padding: 0 2px;
}
listheader,
notificationbox {
  font-size: 85%;
}
textbox {
  font-size: 85%;
  padding: 2px;
}

/* Options window */
#autofill-options {
  width: 724px;
  height: 559px;
}

/* Panel bar */
#autofill-options radio[pane] {
  list-style-image: url("options.png");
  padding: 5px 0 1px 0;
}
#autofill-options radio[pane="autofill-panel-fields"] {
  -moz-image-region: rect(0px, 32px, 32px, 0px);
}
#autofill-options radio[pane="autofill-panel-exceptions"] {
  -moz-image-region: rect(0px, 64px, 32px, 32px);
}
#autofill-options radio[pane="autofill-panel-other"] {
  -moz-image-region: rect(0px, 96px, 32px, 64px);
}
#autofill-options radio[pane="autofill-panel-support"] {
  -moz-image-region: rect(0px, 128px, 32px, 96px);
}

/* Form Fields panel */
#content-editbox {
  font: normal 100% Courier New, monospace;
}

/* Other Stuff panel */
#autofill-panel-other {
  padding-top: 0;
}
#autofill-panel-other notificationbox + groupbox {
  margin-top: 13px;
}
#content-delay-out {
  margin-top: 3px;
}

/* Dialogs */
dialog notificationbox {
  margin: -7px -10px 7px -10px;
}
